
        <div class="col-lg-4 col-md-6 mb-4 my-3">
            <div  class="card text-dark h-100" style="background-color: #f0daafff">
                <div class="card-body">
                <h3 class='card-title mb-3'><a href="{% url 'ad_detail' id=advertisement.id %}" style="color: #284139">{{ advertisement.title }}</a></h3>
                <p class='card-text mb-3'>{{ advertisement.description }}</p>
                <small class='text-muted'>Дата публикации: {{ advertisement.created_at|date:'d.m.y' }}</small>
            </div>
        </div>
        </div>
