{% load tz %}

<div class="adCard col-lg-4 col-md-6 mb-4 my-3" data-ad-id="{{ advertisement.id }}">
  <div class="card text-dark h-100" style="background-color: #ffdfe7ff">
    <div class="card-body d-flex flex-column">
      {% if advertisement.image %}
      <img
        src="{{ advertisement.image.url }}"
        alt="{{ advertisement.title }}"
        width="300"
        style="
          max-width: 100%;
          max-height: 300px;
          width: auto;
          height: auto;
          object-fit: contain;
        "
      />
      {% endif %}
      
      <h3 class="card-title mb-3 my-3">
        <a
          href="{% url 'ad_detail' advertisement.id %}"
          style="color: #000000ff"
          >{{ advertisement.title }}</a
        >
      </h3>

      
      <div class="d-flex align-items-center gap-4 mb-3">
        <!-- Избранное -->
        <div class="d-flex align-items-center gap-2 mx-2">
          <button 
            class='favoriteBtn btn btn-link p-0 {% if request.user == advertisement.user %}disabled{% endif %}' 
            data-url='{% url "toggle_favorite" %}'
            data-ad-id='{{ advertisement.id }}'
          >
            {% if request.user in advertisement.favorites.all %}
              <i class='favoriteIcon bi bi-bookmark-fill'></i>
            {% else %}
              <i class='favoriteIcon bi bi-bookmark'></i>
            {% endif %}
          </button>
          <span class='favoriteCount small mx-2'>{{ advertisement.favorites.count }}</span>
        </div>

        <!-- Комментарии -->
        <div class="d-flex align-items-center gap-2 mx-2">
          <i class="bi bi-chat-left-text text-muted fs-6"></i>
          <span class="small text-muted mx-2">{{ advertisement.comments.count }}</span>
        </div>

        <!-- Просмотры -->
        <div class="d-flex align-items-center gap-2">
          <i class="bi bi-eye text-muted fs-6"></i>
          <span class="small text-muted mx-2">{{ advertisement.views }}</span>
        </div>
      </div>

      <!--Дата и время-->
      <div class="mt-auto pt-3">
        <small class="text-muted"
          >Создано: {{ advertisement.created_at|localtime|date:'d.m.y' }}</small
        ><br>
        <small class="text-muted"
          >Обновлено: {{ advertisement.updated_at|date:'d.m.y' }}</small
        >
      </div>
    </div>
  </div>
</div>