.favoriteBtn {
    color: #8484f8ff;
    padding: 10px;
    display: inline-flex;
    outline: none;
    box-shadow: none;
}

.favoriteBtn:hover {
    color: #8484f8ff;
    outline: none;
    box-shadow: none;
    transform: translateY(2px);
}

.favoriteBtn::after {
    color: #8484f8ff;
}

.favoriteCount {
    line-height: 1;
}