{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h2>{{ title }}</h2>

<form method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    
    <div>
        <label class="col-form-label mt-4" for="inputDefault">{{ form.title.label_tag }}</label>
        {{ form.title }}
        {{ form.title.errors }}
    </div>

    <div>
        <label for="exampleTextarea" class="form-label mt-4">{{ form.description.label_tag }}</label>
        {{ form.description }}
        {{ form.description.errors }}
    </div>

     <div>
        <label for="formFile" class="form-label mt-4">{{ form.image.label_tag }}</label>
        {{ form.image }}
        {{ form.image.errors }}
    </div>

    <div class='mt-4'>
        {{ form.categoty.label_tag }}
        {{ form.category }}
        {{ form.category.errors }}
    </div>
    
    <button type=submit class="btn btn-primary my-3" style="background-color: #93a89cff">{{ submit_button_text }}</button>
</form>

{% endblock content %}