{% extends "base.html" %} 

{% block title %}Подтверждение удаления объявления{%endblock title %} 

{% block content %}
<h2>Удаление объявления</h2>
<p class="my-4">
  Вы уверены что хотите удалить объявление "<strong
    >{{ advertisement.title }}</strong
  >"?
</p>

<form method="POST" action='{% url "ad_delete" advertisement.slug %}'>
  {% csrf_token %}
  <button
    type="submit"
    class="btn btn-delete"
  >
    <i class="bi bi-trash mx-1"></i>Да, удалить
  </button>
</form>

<a
  href='{% url "ad_detail" advertisement.id %}'
  class="btn btn-custom my-3"
  >Отмена</a
>
{% endblock content %}
