{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
<h1 class='text-align: center;'>Добро пожаловать в "Лотос"</h1>
<h4 class='text-align: center; my-5'>Уникальные handmade-изделия от талантливых мастеров со всей России</h4>

<div class="slider-container">
        <div class="slide one">
            <h3>Рязань</h3>
        </div>
        <div class="slide two active">
            <h3>Калининград</h3>
        </div>
        <div class="slide three">
            <h3>Волгоград</h3>
        </div>
        <div class="slide four">
            <h3>Казань</h3>
        </div>
        <div class="slide five">
            <h3>Тюмень</h3>
        </div>
    </div>
</div>
{% endblock content %}