{% extends "users/profile_base.html" %}

{% block title %}Ваш профиль{% endblock title %}

{% block profile_content %}

    {% if user == request.user %}
        <h2 class='my-5'>Ваш профиль</h2>
    {% else %}
        <h2>Профиль {{ user.username }}</h2>
    {% endif %}

    {% if user == request.user %}
        <h4 class='my-4 d-inline'>Отклики на ваши объявления:</h4>
    {% else %}
        <h5 class='my-4'>Отклики на объявления пользователя {{ user.username }}</h5>
    {% endif %}

    {% if requests %}
        <ul>
        {% for req in requests %}
            <li>
                Заявка от {{ req.sender.username }} на объявление
                <a href='{% url "ad_detail" req.advertisement.id %}'>{{ req.advertisement.title }}</a> - 
                Статус: {{ req.get_status_display }}
                {% if req.status == 'new' and user == request.user %}
                    <form method='POST' action='{% url "request_update_status" req.id %}' style='display:inline;'>
                        {% csrf_token %}
                        <br>
                        <button name='status' value='accepted' type='submit' class="btn btn-custom my-3">Принять</button>
                        <button name='status' value='rejected' type='submit' class="btn btn-delete">Отклонить</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <span class='mx-3'>откликов пока нет</span>
    {% endif %}

    {% if user == request.user %}
        <div class="my-4">
            <a href="{% url 'favorite_list' %}" class="btn btn-custom">💖 Ваши избранные объявления</a>
        </div>
    {% endif %}

    {% if ads %}
        <h2>Ваши объявления</h2>
        {% for advertisement in ads %}
        {% include 'board/includes/ads_container_include.html' with advertisement=advertisement %}
        {% endfor %}
    {% else %}
        <p class='my-4'>Объявлений нет. Создайте ваше первое объявление!</p>
    {% endif %}

{% endblock profile_content %}
